/* ================== GOOGLE FONTS ================== */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap');

/* ========== Variables Dark theme ========== */
body.dark-theme {
    background-color: rgb(22, 22, 22);
    color: #fff;
}


/* ========== Button Dark/light ========== */
.nav__btns {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 1.25rem;
    color: #7B2CBF;
    margin-right: 1rem;
    cursor: pointer;
}

.change-theme:hover {
    color: #64249c;
}


/* ================== BASE ================== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: -17em 0 3rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;
    background-color: #fff;
    color: #000;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ================== REUSABLE CSS CLASSES ================== */
.section {
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: 2.55rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    color: #7B2CBF;
}

.section__subtitle {
    display: block;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0rem;
}

.section__title, .section__subtitle {
    text-align: center;
}

/* ================== LAYOUT ================== */
.container {
    max-width: 768;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #2c2c2c;
}
/* ================== NAV ================== */
.nav {
    max-width: 968px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo, .nav__toggle {
    color: #fff;
    font-size: 1rem;
}

.nav__logo:hover {
    color: #7B2CBF;
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    -moz-text-size-adjust: 3rem;
    color: #7B2CBF;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }    
}

.nav__list {
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .813rem;
    color: #fff;
    font-size: 1rem;
}

.nav__link:hover {
    color: #7B2CBF;
}

.nav__icon {
    font-size: 1.3rem;
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    cursor: pointer;
    color: #000;
}

.nav__close:hover {
    color: #7B2CBF;
}
/* show menu */
.show-menu {
    bottom: 0;
}

/* Active link */
.active-link {
    color: #7B2CBF;
}

/* Change background header */
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}

/* ================== HOME ================== */
.home__container {
    gap: 1rem;
}

.home__container {
    grid-template-columns: .5fr 3fr;
    padding-top: 10.5rem;
    align-items: center;
    animation: movedown 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1;
}

@keyframes movedown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
    }
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    position: relative;
    font-size: 1.65rem;
    color: #7B2CBF;
}

.home__social-icon:hover {
    color: #64249c;
}

.home__img {
    width: 300px;
}

.home__data {
    grid-column: 1/3;
}

.home__title {
    font-size: 2.55rem;
    font-family: 'Alegreya SC', serif;
    font-weight: 700;
    line-height: 2.25rem;
    margin-bottom: .75rem;
}

.home__subtitle {
    font-size: 1.35rem;
    color: #818181;
    font-weight: 600;
    margin-bottom: .75rem;
}

.home__description {
    margin-bottom: 2rem;
    font-weight: 500;
}

/* ============ BUTTONS ============ */
.button {
    display: inline-block;
    background-color: #7B2CBF;
    color: #fff;
    padding: 1.5rem;
    border-radius: .5rem;
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    background-color: #64249c;
}

/* ================== ABOUT ================== */
.about__img {
    width: 240px;
    justify-self: center;
    align-self: center;
    margin-top: 15px;
}

.about__title {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 10px;
}

.about__subtitle {
    font-size: 1.45rem;
    color: #464646;
    margin-bottom: 10px;
}

.about__description {
    text-align: left;
    margin-bottom: .5rem;
    font-weight: 500;
}

.reveal {
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

/* ================== SKILLS ================== */
.skills__container {
    row-gap: 0;
}

.skills__list {
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills__titles {
    font-size: 1.25rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.skills__number {
    font-size: 1.2rem;
    color: #818181;
}

.skills__bar, .skills__percentage {
    height: 5px;
    border-radius: .25rem;
}

.skills__bar, .skills__percentage {
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 2.5s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

/* .revealskill {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.revealskill.active {
    transform: translateY(0px);
    opacity: 1;
} */

.skills__bar {
    background-color: #2c2c2c;
}

.skills__percentage {
    display: block;
    background: #7B2CBF;
}

.skills__html-css {
    width: 90%;
}

.skills__javascript {
    width: 70%;
}

.skills__bootstrap {
    width: 85%;
}

.skills__react {
    width: 75%;
}

/* ================== SERVICES ================== */
.services__container {
    gap: 1.5rem;
    grid-template-columns: repeat(2,1fr);
}

.services__content {
    position: relative;
    padding: 3.5rem .5rem 1.25rem 1.5rem;
}

.services__icon {
    display: block;
    font-size: 2rem;
    color: #7B2CBF;
    margin-bottom: 2.25rem;
    text-align: center;
}

.services__subtitle {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.services__description {
    text-align: center;
    font-weight: 500;
}

.reveal-services {
    position: relative;
    transform: translateY(-200px);
    opacity: 0;
    transition: all 2s 0.5s ease;
}

.reveal-services.active {
    transform: translateY(0px);
    opacity: 1;
}

.reveal-services2 {
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition: all 2s 1s ease;
}

.reveal-services2.active {
    transform: translateY(0px);
    opacity: 1;
}

.reveal-services3 {
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition: all 2s 1.5s ease;
}

.reveal-services3.active {
    transform: translateY(0px);
    opacity: 1;
}

/* ================== PORTFOLIO ================== */
.portfolio__container {
    overflow: initial;
}

.portfolio__content {
    padding: 0 1.5rem;
}

.portfolio__img {
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
    margin-top: 2rem;
}

.portfolio__title {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.portfolio__description {
    margin-bottom: .75rem;
    font-weight: 500;
}

.reveal-portfolio {
    position: relative;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal-portfolio.active {
    transform: translateY(0px);
    opacity: 1;
}

/* ================== CONTACT ME ================== */
.contact__container {
    row-gap: 3rem;
}

.contact__content {
    border-radius: .5rem;
    padding: 1rem 1rem .25rem;
}

.contact__label {
    font-size: 1.25rem;
    font-weight: 600;
}

.contact__input {
    width: 100%;
    outline: none;
    padding: 1rem .5rem .5rem 0;
    color: #5e5e5e;
    position: relative;
    color: currentColor;
    background: transparent;
    border-bottom: 1px solid currentColor;
}

textarea {
    height: 4.2em;
    line-height: 1.5;
    font-size: 1rem;
    border: 0;
}

.textarea {
    border: 0;
    border-bottom: 1px solid currentColor;
    line-height: 1.5;
    font-size: 1rem;
    background: transparent;
    color: #5e5e5e;
}

/* ================== FOOTER ================== */
.footer {
    padding-top: 0rem;
}

.footer__container {
    row-gap: 1rem;
}

.footer__bg {
    background-color: #7B2CBF;
    padding: 1rem 0 .5rem;
}

.footer__title {
    font-size: 2.25rem;
    margin-bottom: .25rem;
}

.footer__social {
    font-size: 1.75rem;
    margin-right: 1.5rem;
}

.footer__social:hover {
    color: #000;
}

.footer__copy {
    font-size: .75rem;
    text-align: center;
}

.footer__title, .footer__social {
    color: #fff;
}

/* ================== SCROLL BAR ================== */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #7B2CBF;
}

/* ================== MEDIA QUERIES ================== */
/* For small devices */
@media screen and (max-width: 350px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .nav__menu {
        padding: 2rem .25rem 4rem;
    }
    .nav__list {
        column-gap: 0;
    }
    .home__content {
        grid-template-columns: .25fr 3fr;
    }
    .home__img {
        width: 240px;
    }
    .home__description {
        width: 280px;
    }
    .services__container {
        grid-template-columns: max-content;
        justify-content: center;
    }
    .services__content {
        text-align: center;
        width: 270px;
    }
    .contact__subtitle {
        width: 250px;
        text-align: center;
        justify-content: center;
        margin-left: 2.3rem;
    }
    .footer__bg {
        padding: 1rem 0 .5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data {
        grid-column: initial;
        position: relative;
        right: 10em;
        width: 15rem;
    }
    .home__img {
        justify-self: center;
        width: 240px;
        order: 1;
        position: relative;
        bottom: 17em;
        left: 19em;

    }
    .button {
        font-size: .9rem;
    }
    .home__container {
        margin-bottom: -7rem;
    }
    .about__img {
        position: relative;
        right: 10rem;
        top: 7rem;
    }
    .about__data{
        position: relative;
        left: 24.5rem;
        bottom: 20rem;
        width: 310px;
    }
    .skills_container {
        margin-top: -15rem;
    }
    .portfolio__content {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .body {
        margin: 0;
    }
    .section {
        padding: 6rem 0 2rem;
    }
    .header {
        top: 0;
        bottom: initial;
    }
    .header, 
    .main, 
    .footer__container {
        padding: 0, 1rem;
    }
    .nav {
        height: calc(var(3rem) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon, 
    .nav__close, 
    .nav__toggle {
        display: none;
    }
    .nav__list {
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu {
        margin-left: auto;
    }
    .change-theme {
        margin: 0;
    }
    .home__img {
        width: 270px;
    }
    .about__container {
        column-gap: 5rem;
    }
    .about__img {
        width: 350px;
    }
    .about__data {
        margin-left: 1rem;
        bottom: 24rem;
    }
    .services__container {
        grid-template-columns: repeat(3, 228px);
        justify-content: center;
    }
    .services__icon {
        font-size: 2rem;
    }
    .services__content {
        padding: 6rem 0 2rem 2.5rem;
    }
    .portfolio__img {
        width: 320px;
    }
    .portfolio__content {
        align-items: center;
    }
    .footer__bg {
        padding: .5rem 0 .5rem;
        position: relative;
        top: 3rem;
    }
    .footer__socials {
        justify-self: flex-end;
    }
    .footer__social {
        font-size: 1.25rem;
    }
    .footer__title {
        font-size: 1.5rem;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container {
        padding: 0;
    }
    .home__container {
        margin-top: 10rem;
        height: 70rem;
    }
    .home__img {
        width: 920px;
        position: relative;
        left: 57.7rem;
        bottom: 43.2rem;
    }
    .home__data {
        width: 600px;
        left: -45rem;
        bottom: 10rem;
    }
    .home__social {
        margin-left: 5rem;
        bottom: 10rem;
        position: relative;
        font-size: 5rem;
    }
    .section__title {
        font-size: 3.5rem;
    }
    .about__data {
        margin-left: 35rem;
        width: 600px;
    }
    .about__img {
        width: 370px;
    }
    .about__buttons {
        margin-left: 60rem;
        position: relative;
        bottom: 34rem;
    }
    .services__container {
        grid-template-columns: repeat(3, 528px);
        justify-content: center;
    }
    .services__icon {
        font-size: 2rem;
    }
    .services__content {
        padding: 6rem 0 2rem 2.5rem;
    }
    .portfolio__img {
        width: 560px;
        margin-left: 15rem;
    }
    .portfolio__description {
        width: 600px;
    }
    .skills__data {
        margin-left: 25rem;
    }
    .skills__data {
        width: 1020px;
        margin-top: 1rem;
    }
    .contact__form {
        width: 650px;
        margin-left: 37rem;
        margin-top: 5rem;
        margin-bottom: 4rem;
    }
    .contact__inputs {
        display: flex;
    }
    .contact__button {
        padding: 1rem 3rem;
        margin-left: 14rem;
    }
    .nav {
        max-width: 1670px;
    }
    .nav__logo {
        margin-left: 8.8rem;
    }
    .footer__bg {
        padding: 3rem 0rem 2.5rem;
        position: relative;
        height: 5rem;
    }
    .footer__copy {
        position: relative;
        bottom: 2.5rem;
    }
    .footer__social {
        position: relative;
        bottom: 5rem;
        font-size: 1.7rem;
    }
    .footer__container {
        height: 0;
    }
}